<div class="header-wrapper">
   <img src="../../../../assets/images/userpic.png" alt="">
   <span class="username-text" *ngIf="!isCollapsed"> {{username}} </span>

   <div class="header-btn" *ngIf="!isCollapsed">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
   </div>
   <div class="header-btn" *ngIf="!isCollapsed">
      <i nz-icon nzType="calendar" nzTheme="outline"></i>
   </div>
</div>

<div class="catalog-wrapper">
   <div class="add-catalog-btn-wrapper">
      <button nz-button nzGhost nzType="dashed">
         <i nz-icon nzType="plus" nzTheme="outline"></i>
         <span *ngIf="!isCollapsed">new catalog</span>
      </button>
   </div>
</div>