<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
   <li nz-menu-item [nzSelected]="currentCatalogUUID == 'today'" (click)="click('today')">
      <span>
         <i nz-icon nzType="home" nzTheme="outline"></i>
         <span class="nav-text">today</span>
      </span>
   </li>

   <li nz-menu-item [nzSelected]="currentCatalogUUID == 'article'" (click)="click('article')">
      <span>
         <i nz-icon nzType="calendar" nzTheme="outline"></i>
         <span class="nav-text">article</span>
      </span>
   </li>

   <li nz-menu-item [nzSelected]="currentCatalogUUID == catalog._id" (click)="click(catalog._id)"
      *ngFor="let catalog of catalogs" (contextmenu)="contextMenu($event, dropdownMenu, catalog._id)">
      <span>
         <i nz-icon nzType="bars" nzTheme="outline"></i>
         <span class="nav-text">{{catalog.title}}</span>
      </span>
   </li>
</ul>

<nz-dropdown-menu #dropdownMenu>
   <ul nz-menu nzInDropDown nzSelectable (nzClick)="close()">
      <li nz-menu-item (click)="openRenameCatalogModal()">
         <span>
            <i nz-icon nzType="edit" nzTheme="outline"></i>
            <span>rename</span>
         </span>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="delete()">
         <span>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            <span>remove</span>
         </span>
      </li>
   </ul>
</nz-dropdown-menu>



<nz-modal [(nzVisible)]="addCatalogModalVisible" [nzTitle]="'add a new catalog'" [nzClosable]="true" [nzWidth]="450"
   [nzOkText]="'add'" [nzCancelText]="'cancel'" [nzMaskClosable]="true" (nzOnCancel)="closeAddCatalogModal()"
   (nzOnOk)="add(catalogInput.value); catalogInput.value = ''">
   <form nz-form>
      <nz-form-item>
         <nz-form-control>
            <input type="text" nz-input #catalogInput name="catalogTitle" placeholder="catalog name"
               (keydown.enter)="add(catalogInput.value); catalogInput.value=''">
         </nz-form-control>
      </nz-form-item>
   </form>
</nz-modal>

<nz-modal [(nzVisible)]="renameCatalogModalVisible" [nzTitle]="'rename catalog'" [nzClosable]="true" [nzWidth]="450"
   [nzOkText]="'rename'" [nzCancelText]="'cancel'" [nzMaskClosable]="true" (nzOnCancel)="closeRenameCatalogModal()"
   (nzOnOk)="rename(catalogRenameInput.value); catalogRenameInput.value=''">
   <form nz-form>
      <nz-form-item>
         <nz-form-control>
            <input type="text" nz-input #catalogRenameInput placeholder="catalog name" name="renameCatalogTitle"
               (keydown.enter)="rename(catalogRenameInput.value); catalogRenameInput.value = ''">
         </nz-form-control>
      </nz-form-item>
   </form>
</nz-modal>